@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background: #94a3b8;
    border-radius: 4px;
  }
  .dark ::-webkit-scrollbar-thumb {
    background: #581c87; /* Purple scrollbar for dark theme */
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #64748b;
  }
  .dark ::-webkit-scrollbar-thumb:hover {
    background: #7e22ce;
  }
}